<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ToDo List</title>
     <link rel="stylesheet" href="css/styles.css">
</head>
<body>
     <div class="box" id="heading">
          <h1><%= todayDay %></h1>
     </div>
     <div class="box">
          <form action="/delete" method="post">
               <% field.forEach(function(fields) { %>
               <div class="item">
                    <input type="checkbox" value="<%=fields._id%>" name="checkbox" onchange="this.form.submit()">
                    <p><%= fields.name %></p>
               </div>
               <% }); %>
          </form>
          <form class="item" action="/" method="post">
               <input type="text" name="userinput" required placeholder="New Item">
               <button type="submit" name="list" value="<%=field%>">+</button>
          </form>
     </div>
          

</body>
</html>